In [ ]:

import re
import pandas as pd

In [ ]:
df=pd.read_csv("C:\\Users\\ubuntu\\Downloads\\training.1600000.processed.noemoticon.csv",encoding='latin1')

In [ ]:
df.head()

,abc,abc1,abc2,abc3,abc4,tweets
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [ ]:
df.drop('abc', axis=1, inplace=True)

In [ ]:
df.drop('abc1', axis=1, inplace=True)

In [ ]:
df.drop('abc2', axis=1, inplace=True)

In [ ]:
df.drop('abc3', axis=1, inplace=True)

In [ ]:
df.drop('abc4', axis=1, inplace=True)

In [ ]:
df.head()

                                             tweets
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  is upset that he can't update his Facebook by ...
2  @Kenichan I dived many times for the ball. Man...
3    my whole body feels itchy and like its on fire
4  @nationwideclass no, it's not behaving at all....

In [ ]:
a=df.to_string(header=False,index=False)

In [ ]:
cleaned_review = re.sub(re.compile('<.*?>'), '', a) #removing HTML tags
cleaned_review = re.sub('[^A-Za-z0-9]+', ' ', cleaned_review) #taking only words

In [ ]:

cleaned_review = cleaned_review.lower()

In [ ]:
import nltk
nltk.download('punkt')

from nltk.tokenize import word_tokenize

tokens = nltk.word_tokenize(cleaned_review)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ubuntu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words('english')

filtered_review = [word for word in tokens if word not in stop_words] # removing stop words

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ubuntu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [ ]:
# Stemming

from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

stemmed_review = [stemmer.stem(word) for word in filtered_review]

In [ ]:
# Lemmatization
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

lemm_review = [lemmatizer.lemmatize(word) for word in filtered_review]

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ubuntu\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ubuntu\AppData\Roaming\nltk_data...

In [ ]:
print(lemm_review[0])

switchfoot